In [1]:
# Import all necessary libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/raw/motogp.csv", encoding=None)
df.head()

,name,season,country,circuit,constructor,ride_class
0,Francesco Bagnaia,2023,IT,Circuito de Jerez - Ángel Nieto,Ducati,MotoGP™
1,Ivan Ortolá,2023,ES,Circuito de Jerez - Ángel Nieto,KTM,Moto3™
2,Sam Lowes,2023,GB,Circuito de Jerez - Ángel Nieto,Kalex,Moto2™
3,Alex Rins,2023,ES,Circuit Of The Americas,Honda,MotoGP™
4,Ivan Ortolá,2023,ES,Circuit Of The Americas,KTM,Moto3™

In [3]:
df.shape

(3355, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3355 entries, 0 to 3354
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         3355 non-null   object
 1   season       3355 non-null   int64
 2   country      3281 non-null   object
 3   circuit      3355 non-null   object
 4   constructor  3325 non-null   object
 5   ride_class   3355 non-null   object
dtypes: int64(1), object(5)
memory usage: 157.4+ KB

In [5]:
df.country.describe()

count     3281
unique      28
top         IT
freq       887
Name: country, dtype: object

In [6]:
df = df.dropna(axis=0)

In [7]:
df.constructor.value_counts()

            Honda                    764
            Yamaha                   525
            Aprilia                  290
            MV Agusta                244
            Kalex                    166
                                    ...
            Rotax                      1
            AGV                        1
            Rotax Real                 1
            MBA/Garelli                1
            Motul                      1
Name: constructor, Length: 89, dtype: int64

In [8]:
import pycountry
pycountry.countries.get(alpha_2=str("TH").lower()).name

'Thailand'

In [9]:
import country_converter as coco

In [10]:
df.country.value_counts()

IT    886
ES    702
GB    386
AU    189
DE    189
JP    181
US    174
FR     99
CH     83
ZA     57
NL     57
FI     42
VE     35
IE     24
NZ     22
SE     20
BR     18
PT     17
SM     16
AT     13
HU     13
BE      9
AR      9
CA      3
CZ      3
MY      2
TH      1
TR      1
Name: country, dtype: int64

In [11]:
df.country.isna().sum()

0

In [12]:
df.country.apply(lambda x: f"{x}ss")

0       ITss
1       ESss
2       GBss
3       ESss
4       ESss
        ...
3350    ITss
3351    GBss
3352    GBss
3353    GBss
3354    IEss
Name: country, Length: 3251, dtype: object

In [13]:
df["country"] = df.country.apply(lambda x: pycountry.countries.get(alpha_2=x).name)

In [14]:
df.head()

,name,season,country,circuit,constructor,ride_class
0,Francesco Bagnaia,2023,Italy,Circuito de Jerez - Ángel Nieto,Ducati,MotoGP™
1,Ivan Ortolá,2023,Spain,Circuito de Jerez - Ángel Nieto,KTM,Moto3™
2,Sam Lowes,2023,United Kingdom,Circuito de Jerez - Ángel Nieto,Kalex,Moto2™
3,Alex Rins,2023,Spain,Circuit Of The Americas,Honda,MotoGP™
4,Ivan Ortolá,2023,Spain,Circuit Of The Americas,KTM,Moto3™