In [16]:
# Import all necessary libraries
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("data/raw/motogp.csv")
df.head()

,name,season,country,circuit,constructor,ride_class
0,Pedro Acosta,2023,ES,Circuit Of The Americas,Kalex,Moto2™
1,Ivan Ortolá,2023,ES,Circuit Of The Americas,KTM,Moto3™
2,Alex Rins,2023,ES,Circuit Of The Americas,Honda,MotoGP™
3,Tatsuki Suzuki,2023,JP,Termas de Río Hondo,Honda,Moto3™
4,Tony Arbolino,2023,IT,Termas de Río Hondo,Kalex,Moto2™

In [18]:
df.shape

(3352, 6)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3352 entries, 0 to 3351
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         3352 non-null   object
 1   season       3352 non-null   int64
 2   country      3279 non-null   object
 3   circuit      3352 non-null   object
 4   constructor  3322 non-null   object
 5   ride_class   3352 non-null   object
dtypes: int64(1), object(5)
memory usage: 157.2+ KB

In [20]:
df.country.describe()

count     3279
unique      28
top         IT
freq       887
Name: country, dtype: object

In [21]:
df = df.dropna(axis=0)

In [22]:
df.constructor.value_counts()

            Honda                                          767
            Yamaha                                         525
            Aprilia                                        288
            MV Agusta                                      244
            Kalex                                          164
                                                          ...
            Ducados                                          1
            Maico                                            1
            HD-Yamaha                                        1
            Piovaticci-Maico-Maico Piovaticci                1
            Motul                                            1
Name: constructor, Length: 89, dtype: int64

In [23]:
import pycountry
pycountry.countries.get(alpha_2=str("TH").lower()).name

'Thailand'

In [24]:
import country_converter as coco

In [25]:
df.country.value_counts()

IT    886
ES    702
GB    386
DE    190
AU    189
JP    181
US    173
FR     98
CH     83
NL     57
ZA     57
FI     42
VE     35
IE     24
NZ     22
SE     20
BR     18
PT     17
SM     16
AT     13
HU     13
AR      9
BE      8
CA      3
CZ      3
MT      2
TH      1
TR      1
Name: country, dtype: int64

In [26]:
df.country.isna().sum()

0

In [27]:
df.country.apply(lambda x: f"{x}ss")

0       ESss
1       ESss
2       ESss
3       JPss
4       ITss
        ...
3347    ITss
3348    GBss
3349    GBss
3350    GBss
3351    IEss
Name: country, Length: 3249, dtype: object

In [28]:
df["country"] = df.country.apply(lambda x: pycountry.countries.get(alpha_2=x).name)

In [29]:
df.head()

,name,season,country,circuit,constructor,ride_class
0,Pedro Acosta,2023,Spain,Circuit Of The Americas,Kalex,Moto2™
1,Ivan Ortolá,2023,Spain,Circuit Of The Americas,KTM,Moto3™
2,Alex Rins,2023,Spain,Circuit Of The Americas,Honda,MotoGP™
3,Tatsuki Suzuki,2023,Japan,Termas de Río Hondo,Honda,Moto3™
4,Tony Arbolino,2023,Italy,Termas de Río Hondo,Kalex,Moto2™